@using Microsoft.AspNetCore.Http
@using Project_D.Shared;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{string sessionCode = HttpContextAccessor.HttpContext.Session.GetString("SessionCode");}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project D Toolkit</title>
    <base href="@(Url.Content("~"))" />
    <link href="/Content/msteams-16.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    @RenderSection("scripts", required: false)
</head>

<body class="theme-light">

    <div class="surface">
        <div class="panel">

            <!-- copy to clipboard function -->
            <script>function copyCode() {
                    const str = "@HttpContextAccessor.HttpContext.Session.GetString("SessionCode")"
                    const el = document.createElement('textarea')
                    el.value = str
                    el.setAttribute('readonly', '')
                    el.style.position = 'absolute'
                    el.style.left = '-9999px'
                    document.body.appendChild(el)
                    el.select()
                    document.execCommand('copy')
                    document.body.removeChild(el)
                }</script>

            <nav class="navbar sticky-top navbar-light bg-light">
                <div class="container-fluid" id="sessioncode">
                    <a class="btn btn-outline-dark" href="@Url.Action("Index", "SessionStart")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg>
                    </a>
                    <span class="navbar-text" style="font-size: calc(5.5em - 3.5vw);line-height:normal" onclick="copyCode()">

                        Session code:
                        <a href="#" onclick="copyCode()">@HttpContextAccessor.HttpContext.Session.GetString("SessionCode")</a>
                        People online: @Shared.GetPeopleInSession(sessionCode).ToString()</a>
                        <!--<a>(Debug only: <a> User code: HttpContextAccessor.HttpContext.Session.GetString("UserCode"), Whiteboardcode: HttpContextAccessor.HttpContext.Session.GetString("WhiteboardSessionCode")</a>)-->
                    </span>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="https://statics.teams.cdn.office.net/sdk/v1.5.2/js/MicrosoftTeams.min.js"></script>
    <script type="text/javascript" src="/Scripts/teamsapp.js"></script>
</body>
</html>
