@{
    Layout = "~/Views/Shared/_LayoutWithoutNav.cshtml";
}

@model ProjectD.Models.HomeModel

<script src="http://zwibbler.com/zwibbler-demo.js"></script>
<script>function bothCodes(element) {
        randomSessionCode();
        randomUserCode(element);
        randomWhiteboardSessionCode();
    }

    function randomSessionCode() {
        charSet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var randomString = '';
        for (var i = 0; i < 6; i++) {
            var randomPoz = Math.floor(Math.random() * charSet.length);
            randomString += charSet.substring(randomPoz, randomPoz + 1);
        }
        document.getElementById("newCode").value = randomString;
    }

    function randomUserCode(element) {
        charSet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var randomString = '';
        for (var i = 0; i < 6; i++) {
            var randomPoz = Math.floor(Math.random() * charSet.length);
            randomString += charSet.substring(randomPoz, randomPoz + 1);
        }
        document.getElementById(element).value = randomString;
    }

    function randomWhiteboardSessionCode() {
        var name = "";
        var ctx = Zwibbler.create("#whiteboard", {
            // options
        });

        name = ctx.createSharedSession();
        document.getElementById("whiteboardSessionCode").value = name;
    }
</script>
<div class="row">
    @using (Html.BeginForm("JoinSession", "SessionStart", FormMethod.Post))
    {
        
    <div class="col-lg-3" style="margin-top:10px">
        <div class="form-group text-center">
            <div class="card text-center" style="height:100%">

                <div class="card-body">
                    <label class="=card-title" asp-for="JoinSessionCode">Enter your session code</label>
                    <p class="card-text">
                        @Html.TextBoxFor(m => m.SessionCode, new { @class = "form-control" })
                        @Html.TextBoxFor(m => m.UserCode, new { @hidden = "hidden", @id = "userCode1" })
                    </p>
                    <p>
                        @ViewBag.Message
                    </p>
                    <input onclick="randomUserCode('userCode1');" type="submit" class="btn btn-info btn-block btn-lg text-white" style="width:100%" value="Join Session">
                </div>
            </div>
        </div>
    </div>
    }
   


    @using (Html.BeginForm("CreateSession", "SessionStart", FormMethod.Post))
    {
        
    <div class="col-lg-3" style="margin-top:10px">
        <div class="form-group text-center">
            <div class="card text-center" style="height:100%">
                <div class="card-body">
                    <label class="card-title" asp-for="CreateSessionCode">Don't have a session code yet? Create your new session here</label>
                    <p class="card-text">
                        @Html.TextBoxFor(m => m.SessionCode, new { @hidden = "hidden", @id = "newCode" })
                        @Html.TextBoxFor(m => m.UserCode, new { @hidden = "hidden", @id = "userCode2" })
                        @Html.TextBoxFor(m => m.WhiteboardSessionCode, new { @class = "form-control", @hidden = "hidden", @id = "whiteboardSessionCode" })
                    </p>
                    <input onclick="bothCodes('userCode2', 'whiteboardSessionCode')" type="submit" id="submitButton" class="btn btn-info btn-block btn-lg text-white" style="width:100%" value="Create Session">
                </div>
            </div>
        </div>
    </div>

    <div class="d-none" id="whiteboard"></div>
    }
</div>