@{
    Layout = "~/Views/Shared/_LayoutWithoutNav.cshtml";
}

@model ProjectD.Models.HomeModel

<script src="http://zwibbler.com/zwibbler-demo.js"></script>
<script>function bothCodes(element) {
        randomSessionCode();
        randomUserCode(element);
        randomWhiteboardSessionCode();
    }

    function randomSessionCode() {
        charSet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var randomString = '';
        for (var i = 0; i < 6; i++) {
            var randomPoz = Math.floor(Math.random() * charSet.length);
            randomString += charSet.substring(randomPoz, randomPoz + 1);
        }
        document.getElementById("newCode").value = randomString;
    }

    function randomUserCode(element) {
        charSet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var randomString = '';
        for (var i = 0; i < 6; i++) {
            var randomPoz = Math.floor(Math.random() * charSet.length);
            randomString += charSet.substring(randomPoz, randomPoz + 1);
        }
        document.getElementById(element).value = randomString;
    }

    function randomWhiteboardSessionCode() {
        var name = "";
        var ctx = Zwibbler.create("#whiteboard", {
            // options
        });

        name = ctx.createSharedSession();
        document.getElementById("whiteboardSessionCode").value = name;
    }
</script>

@using (Html.BeginForm("JoinSession", "SessionStart", FormMethod.Post))
{
    <div class="form-group">
        <label asp-for="JoinSessionCode">Enter your session code</label>
        @Html.TextBoxFor(m => m.SessionCode, new { @class = "form-control" })
        @Html.TextBoxFor(m => m.UserCode, new { @hidden = "hidden", @id = "userCode1" })
        <br>
        <input onclick="randomUserCode('userCode1');" type="submit" class="btn btn-dark btn-lg" value="Join Session">
        @ViewBag.Message
    </div>
 }
<br>
    Don't have a session code yet? Create your new session here

@using (Html.BeginForm("CreateSession", "SessionStart", FormMethod.Post))
{   <div class="d-none" id="whiteboard"></div>
    <div class="form-group">
        <label asp-for="CreateSessionCode"></label>
        @Html.TextBoxFor(m => m.SessionCode, new { @hidden = "hidden", @id = "newCode" })
        @Html.TextBoxFor(m => m.UserCode, new { @hidden = "hidden", @id = "userCode2" })
        @Html.TextBoxFor(m => m.WhiteboardSessionCode, new { @hidden = "hidden", @id = "whiteboardSessionCode" })
        <br>
        <input onclick="bothCodes('userCode2', 'whiteboardSessionCode')" type="submit" id="submitButton" class="btn btn-dark btn-lg" value="Create Session">
    </div>
 }
