@model ProjectD.Models.SessionStartModel
    <!-- Leave alert function -->
@*<script>window.onbeforeunload = function () {
        return "Are you sure that you want to leave the session?";
    }</script>*@
<div class="container-fluid">
    <br />
    @ViewBag.SessionMessage
<div class="row justify-content-center">
    <div class="col-lg-3" style="margin-top:10px">
        <div class="card text-center" style="height:100%">
            <a href="@Url.Action("Index", "Whiteboard")" class="btn btn-info btn-lg text-white" style="height:100%">
                <div class="card-body">
                    <h1 class="card-title">Whiteboard</h1>
                    <p class="card-text">Click here to go to the whiteboard</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3" style="margin-top:10px">
        <div class="card text-center" style="height:100%">
            <a href="@Url.Action("Questionslist", "Poll")" class="btn btn-info btn-lg text-white" style="height:100%">
                <div class="card-body">
                    <h1 class="card-title">Vote</h1>
                    <p class="card-text">Click here to vote</p>
                </div>
            </a>
        </div>
    </div>
    <br />
    <div class="col-lg-3" style="margin-top:10px">
        <div class="card text-center" style="height:100%">
            <a href="@Url.Action("FileList", "FileUpload")" class="btn btn-info btn-lg text-white" style="height:100%">
                <div class="card-body">
                    <h1 class="card-title">Upload</h1>
                    <p class="card-text">Click here to upload files</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3" style="margin-top:10px">
        <div class="card text-center" style="height:100%">
            <a href="@Url.Action("LeaveSession", "SessionStart")" class="btn btn-info btn-lg text-white" style="height:100%">
                <div class="card-body">
                    <h1 class="card-title">Leave session</h1>
                    <p class="card-text">Click here to leave the session</p>
                </div>
            </a>
        </div>
    </div>
</div>
</div>

